___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [6]:
def lesser_of_two_evens(a,b):
    if a%2 or b%2:
        return b
    else:
        return a

In [7]:
# Check
lesser_of_two_evens(2,4)

2

In [8]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [33]:
def animal_crackers(text):
    words = text.split(" ")
    if words[0][0] == 'L' and words[1][0] == 'L':
        return True
    else:
        return False

In [34]:
# Check
animal_crackers('Levelheaded Llama')

True

In [35]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [36]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif (n1+n2)==20:
        return True
    else:
        return False

In [37]:
# Check
makes_twenty(20,10)

True

In [38]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [42]:
def old_macdonald(name):
    return name[:3].capitalize()+name[3:].capitalize()

In [43]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [69]:
def master_yoda(text):
    stra=text.split(" ")
    stra.reverse()
    strb=" ".join(stra)
    return strb

In [70]:
# Check
master_yoda('I am home')

'home am I'

In [71]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [72]:
def almost_there(n):
    if abs(n-100) < 10 or abs(n-200) < 10:
        return True
    else:
        return False

In [73]:
# Check
almost_there(104)

True

In [74]:
# Check
almost_there(150)

False

In [75]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(nums):
    pass

In [ ]:
# Check
has_33([1, 3, 3])

In [ ]:
# Check
has_33([1, 3, 1, 3])

In [ ]:
# Check
has_33([3, 1, 3])

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [80]:
def paper_doll(text):
    r=""
    for i in text:
        r = r+i+i+i
    return r

In [81]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [82]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [1]:
def blackjack(a,b,c):
    d=a+b+c
    if d < 22:
        return d
    else: 
        if a==11 or b==11 or c==11:
            d=d-10
        if d < 22:
            return d
        else:
            return "BUSTED"

In [2]:
# Check
blackjack(5,6,7)

18

In [3]:
# Check
blackjack(9,9,9)

'BUSTED'

In [4]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [11]:
def summer_69(arr):
    in6 = False
    s = 0
    s69 = 0
    for i in arr:
        if i == 6 and not in6:
            # reset s69 state
            in6 = True
            s69 = 0
        if in6:
            # sum in s69
            s69 = s69+i
            if i == 9:
                s69 = 0
        else:
            s = s + i
    return s+s69

In [12]:
# Check
summer_69([1, 3, 5])

9

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [13]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [14]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

In [29]:
def spy_game(nums):
    endn=len(nums)-1
    for i in range(0,endn):
        if nums[i]==0:
            for j in range(i+1,endn):
                if nums[j]==0:
                    for k in range(j+1,endn):
                        if nums[k]:
                            return True
    return False

In [30]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [31]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [32]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [33]:
def count_primes(num):
    count=2
    for i in range(5,100):
        isiprime=True
        for j in range(2,i // 2):
            if (i % j) == 0:
                isiprime=False
                break
        if isiprime:
            count=count+1
    return count

In [34]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [35]:
def print_big(letter):
    alphabet = {
    "a": """
out:      *
         * * 
        *   *
        *****
        *   *
        """,
    "b": """
out:    **** 
        *   *
        **** 
        *   *
        **** 
        """,
    "c": """
out:     ****
        *    
        *    
        *    
         ****
        """,
    "d": """
out:    **** 
        *   *
        *   *
        *   *
        **** 
        """,
    "e": """
out:    *****
        *    
        *****
        *    
        *****
        """,
    "f": """
out:    *****
        *    
        *****
        *    
        *    
        """
}
    print(alphabet[letter])

In [36]:
print_big('a')

out:      *
         * *
        *   *
        *****
        *   *

## Great Job!